h1 {
  color: orange;
   text-align: center;
}
h2 {
  color: turquoise;
   text-align: center;
}
h3 {
  color: darkorange;
  text-align: center;
}

.wrapper{
  background: grey
}

p{
 text-align: center;
}

img{
margin: auto, 0
}
